@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,900&display=swap');

body
{
	margin:0;
	padding:0;
}

#map
{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.marker
{
	background-image: url('../images/mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup
{
	max-width: 200px;
}

.mapboxgl-popup-content
{
	text-align: center;
	//font-family: 'Open Sans', sans-serif;

	h3
	{
		font-family: 'Merriweather', serif;
	}
}
