@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,900&display=swap');

*
{
	margin:0;
	padding:0;
	border:0;
}

html,
body
{

}

html
{
	font-size: 10px;
}

body
{
	margin:0;
	padding:0;
}

#map
{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}



.marker
{
	background-image: url('../images/mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}



.pin1
{
	cursor: pointer;
	width: 28px;
	height: 35px;
	//background:red;

	.pin
	{
		position:relative;

		border-radius: 50% 50% 50% 0;
		border: 4px solid #000;
		width: 20px;
		height: 20px;
		transform: rotate(-45deg);

		&:after
		{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			margin-left: -5px;
			margin-top: -5px;
			background-color: #000;
		}
	}
}




.mapboxgl-popup
{
	width: 250px;
	max-width: 250px;
}

.mapboxgl-popup-content
{
	//text-align: center;
	padding:2rem;
}

.mapboxgl-popup-close-button
{
	padding:0.25em 0.5em;
	font-size:140%;
}


.school
{

	&__name
	{
		font-family: 'Merriweather', serif;
		font-weight:900;
		font-size:120%;
	}

	&__type
	{
		display:inline-block;
		margin:0.5em 0;
		background:#eee;
		padding:0.5em;
		line-height:1em;
		border-radius:3px;
	}

	&-status--closed
	{
		.school__name
		{
			color:red;
		}

	}


}
